<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form th:action="@{/login}" method="post">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" id="email" placeholder="Enter your Email...">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="Enter your Password...">
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</body>
</html>