<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://thymeleaf.org/extras/spring-securit">
<head>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <form th:action="@{/users/register/process}" th:object="${}" method="post">
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" th:field="*{}">
            <div th:if="${#fields.hasErrors('email')}">
                <ul class="p-0">
                    <li th:each="error : ${#fields.errors('email')}">
                        <span class="form-error" th:text="${error}"></span>
                    </li>
                </ul>
            </div>
            <label for="firstname">First name</label>
            <input class="form-control" type="firstname" id="firstname" th:field="*{}"/>
            <div th:if="">
                <ul class="p-0">
                    <li th:each="">
                        <span class="form-error" th:text=""></span>
                    </li>
                </ul>
            </div>
            <label for="">Last name</label>
            <input class="form-control" type="lastname" id="lastname" th:field="">
            <div th:if="">
                <ul class="p-0">
                    <li th:each="">
                        <span class="form-error" th:text=""></span>
                    </li>
                </ul>
            </div>
            <label for="">Password</label>
            <input class="form-control" type="password" id="password" th:field="">
            <div th:if="">
                <ul class="p-0">
                    <li th:each="">
                        <span class="form-error" th:text=""></span>
                    </li>
                </ul>
            </div>
            <label for="">Password Confirmation</label>
            <input class="form-control" type="confirm" id="confirm" th:field="">
            <div th:if="">
                <ul class="p-0">
                    <li th:each="">
                        <span class="form-error" th:text=""></span>
                    </li>
                </ul>
            </div>
            <div>
                <label>Create admin</label>
                <input type="checkbox" value="true" th:field="">
            </div>
            <button class="btn btn-primary" type="submit">Send</button>
        </form>
    </div>
</body>
</html>